<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Library">
            <directory>./Library</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./../src/Library</directory>
            <exclude/>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="./log/report/report.tap"/>
        <log type="junit" target="./log/report/report.junit.xml"/>
        <log type="coverage-html" target="./log/report/coverage"/>
        <log type="coverage-text" target="./log/report/coverage.txt"/>
        <log type="coverage-clover" target="./log/report/logs/clover.xml"/>
    </logging>
</phpunit>
